body {
  margin: 0px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

#background {
    margin: 2% 0px;
}

#contentWrapper {
}

#contentHeader {
  text-align: center;
  border: solid;
  border-radius: 15px 15px 0px 0px;
}

#contentBox {
  height: 70vh;
  width: 75vw;
  border: solid;
}

#passwordBox {
  height: 30vh;
  width: 35vw;
  border: solid;
}

#buttonWrapper {
}

#contentFooter {
  flex-shrink: 0;
  text-align: center;
  border: solid;
  border-radius: 0px 0px 15px 15px;