/* Tags */
body {
  margin: 0px;
}

/* Classes */
.buttonTop {
    margin: 0px 4px;
}

.buttonSize {
    margin: 0px 3px;
    height: 16px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* IDs */
#background {
    margin: 2% 0px;
}

#contentWrapper {
    width: fit-content;
}

#contentHeader {
  text-align: center;
  border: solid;
  border-radius: 15px 15px 0px 0px;
}

#contentBox {
    min-height: 0vh;
  height: 70vh;
  width: 75vw;
  border: solid;
}

#passwordBox {
  height: 25vh;
  border: solid;
}

#charLengthWrapper {
    display: flex;
}

#charTypeWrapper {
    display: flex;
}

#buttonWrapperBot {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#contentFooter {
  flex-shrink: 0;
  text-align: center;
  border: solid;
  border-radius: 0px 0px 15px 15px;